header-nav {
    --nav-background-color: rgb(37, 81, 110);
    --nav-position: fixed;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  text-align: left;
  background-color:snow;
}

.a {
  padding: 1em;
  margin: 1em;
}

.q {
  background-color: #C8D4DB;
  padding: 1em;
  margin: 1em;
}

.videolink {
  font-size: 1.4em;
  margin-top: 20px;
}

.code {
  z-index: -1;
  position: sticky;
}

#question1 {
  grid-area: question1;
}

#question2 {
  grid-area: question2;
}

#question3 {
  grid-area: question3;
}

#question4 {
  grid-area: question4;
}

#answer1 {
  grid-area: answer1;
}

main {
  margin: 6em 1em 2em 1em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 40% 60%;
  grid-template-areas: "question1 answer1"
                       "question2 answer2"
                       "question3 answer3"
                       "question4 answer4";
}

.counter {
  font-weight: bold;
}

.answer-header{
  font-family: 'renault';
  margin: 10px 0 10px 0;
}

.answer-header::after {
  font-size: 2.5em;
  content: "Answer";
}

h1 {
  font-size: 2.5em;
  text-align: left;
  margin: 10px 0 10px 0;
}

h2 {
  font-size: 1.7em;
}

p {
    font-size: 1.4em;
    text-align: left;
    line-height: 1.2em;
    margin: 10px 0 10px 0;
}

p + h1 {
    margin-top: 20px;
}

h2 + h2 {
  margin-top: 0.4em;
}

p + p {
    margin-top: 1em;
}

aside {
    font-size: 1.1em;
    text-align: left;
    margin: 0.5em 0 1em 0;
}

.italic {
  font-style: italic;
}