header-nav {
    --nav-background-color: rgb(37, 81, 110);
}

body {
    text-align: left;
}

main {
    block-size: 1em;
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    grid-gap: 0.5em;
}

h1 {
    font-size: 1em;
    text-align: left;
    margin: 10px 0 10px 0;
}

p {
    font-size: 0.7em;
    text-align: left;
    line-height: 1.2em;
    margin: 0px;
}

p + h1 {
    margin-top: 20px;
}

p + p {
    margin-top: 1em;
}

aside {
    font-size: 0.5em;
    text-align: left;
}