header-nav {
    --nav-background-color: rgb(37, 81, 110);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  text-align: left;
}

main {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

h1 {
  font-size: 2.5em;
  text-align: left;
  margin: 10px 0 10px 0;
}

.answer-header{
  font-family: 'renault';
  margin: 10px 0 10px 0;
}

.answer-header::after {
  font-size: 2.5em;
  content: "Answer";
  
}

h2 {
  font-size: 1.7em;
}

p {
    font-size: 1.4em;
    text-align: left;
    line-height: 1.2em;
    margin: 10px 0 10px 0;
}

p + h1 {
    margin-top: 20px;
}

h2 + h2 {
  margin-top: 0.4em;
}

p + p {
    margin-top: 1em;
}

aside {
    font-size: 1.1em;
    text-align: left;
    margin: 0.5em 0 1em 0;
}