@font-face {
    font-family: 'copenhagen-bold';
    src: url('fonts/Copenhagen-bold.otf');
}

@font-face {
    font-family: 'copenhagen-light';
    src: url('fonts/Copenhagen-light.otf');
}

@font-face {
    font-family: 'renault';
    src: url('fonts/RenaultLight.otf');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'copenhagen-light';
    font-size: 16px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-family: 'renault';
    margin: 1em 0 0.2em 0;
}

.main-h1 {
    font-size: 1.5em;
    font-family: 'renault';
    text-align: center;
    padding: 1em 0.5em 0.3em 0.5em;
}

.main-h1:before {
    content: url('../images/mixingbowl.png');
    float: left;
}

.main > div {
    font-size: 1.5em;
    padding-top: 4px;
}
.main {
    margin: auto;
    left: 2%;
    right: 2%;
    width: 80%;
}

#tour {
    font-size: 1em;
    margin-top: 1em;
}

@media screen and (max-width: 1510px) {
    .main-h1:before {
        content: "";
    }
}

@media screen and (max-width: 860px) {
    .main {
        width: 100%;
    }
    .main > div {
        font-size: 1em;
    }
    
    .main-h1 {
        margin: 12px;
        padding: 0;
    }
}